/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%;
}
body {
    max-width: 960px;
    margin: 0 auto;
    font-size: 1.4rem;
}
header {
    height: 500px;
    background: #fff url("../images/berries.png") no-repeat;
}
input {
    height: 36px;
    width: 350px;
    background-color: white;
    background-image: url('search-icon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
.col-1-2 {
    display: inline-block;
    width: 50%;
}
.col-1-2-extend {
    display: inline-block;
    width: 50%;
}
.inline-block {
    display: inline-block;
}
li {
    list-style-type: none;
    margin-left: 3.5rem;
}
.header-main {
    display: flex;
    flex-flow: column wrap;

}
.header-search {
    display: flex;
    flex-flow: row nowrap;
}
.dropdown-btn {
    background-color: inherit;
    font-size: 3.2rem;
    color: #000;
    margin-top: 10px;
    border: none;
    display: none;
}
nav {
    float: right;
}
nav li {
    float: left;
}
nav a {
    font-size: 1.5rem;
}
nav a:hover {
    color: #f80;
}
.section-margins {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}
.f8-orange {
    color: #f80;
}
/******************************************
/* LAYOUT
/*******************************************/
header > section {
    float: left;
}
.social-links {
    margin-top: 1.5rem;
}
.social-links a {
    margin-right: 4rem;
}
.social-links i {
    color: #f80;
}
.discover-section {
    display: block;
    background: #fff url("../images/pie-oat.jpg") no-repeat;
}
.header-pos {
    margin-left: 8%;
    margin-top: 4%;
}
.btn {
    background-color: #f80;
    color: #fff;
    font-family: sans-serif;
    border: none;
    padding: 1rem;
}
.btn-extend {
    padding: 1.1rem;
}
.curved-left {
    border-radius: 10px 0 0 10px;
}
.curved-right {
    border-radius: 0 10px 10px 0;
}
.faint-color {
    background-color: #ffAA4D;
}
.drop-btns {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.drop-btn {
    font-size: 1.6rem;
    background-color: inherit;
    padding: 2rem;
    padding-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #DBDEDF;
}
.drop-btn:hover,
.drop-btn:active {
    color: #f80;
    border-bottom-color: #f80;
}
.booking-section .col-1-2 {
    text-align: left;
}
.booking-section i,
.booking-section > p {
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
}
.days {
    padding-right: 15%;
}
.profile-icon {
    border-radius: 100%;
}
.ratings {
    color: #FFC107;
}
.foods {
    padding: 0;
    padding-top: 5%;
}
.check {
    border: 1px solid red;
}
/******************************************
/* Typography
/*******************************************/
h1 {
    font-size: 4.6rem;
}
h2 {
    font-weight: 400;
    font-size: 1.4rem;
    color: #f80;
}
p {
    font-family: sans-serif;
}
.center {
    text-align: center;
}
.large {
    font-family: serif;
    font-size: 4rem;
    margin-top: 0;
}
.larger-font {
    margin-bottom: 0;
    font-size: 2.2rem;
}
.light-color {
    margin-top: 0;
    color: #ADADB6;
}
.bold {
    font-weight: 700;
}
.remove-margin {
    margin: 0;
}
.numbers {
    font-family: serif;
    font-size: 2rem;
}
.italicised {
    font-style: italic;
    color: #64647E;
    line-height: 2.1rem;
    padding-left: 12%;
    padding-right: 12%;
}
/******************************************
/* Menu
/*******************************************/
.hidden {
	display: none;
}
.dropdown-content img {
	display: inline-block;
    width: 20%;
}
.check {
    border: 1px solid red;
}
/******************************************
/* MEDIA QUERY
/*******************************************/
@media all and (min-width: 926px) {
    .discover-section > div {
        margin-left: 40%;
    }
}
@media all and (max-width: 925px) {
    .discover-section > div {
        margin-left: 45%;
    }
    .foods img {
        margin-top: 7rem;
    }
}
@media all and (max-width: 801px) {
    .discover-section > div {
        margin-left: 50%;
    }
}
@media all and (max-width:601px) {
    nav {
        float: left;
    }
    nav li {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .discover-section > div {
        margin-left: 3rem;
    }
    .discover-section {
        background: #fff url("../images/pie-oat-small.jpg") no-repeat;
        display: flex;
        flex-flow: column nowrap;
    }
    .dropdown-content a:hover {
        box-shadow: 5px 10px 10px #333;
    }
    input {
        width: 175px;
    }
    #menu .large {
        margin-top: 4rem;
        margin-bottom: 8rem;
    }
}
@media all and (max-width:525px) {
    .col-1-2-extend {
        width: 100%;
    }
    .discover-section {
        background: none;
    }
    .text {
        display: flex;
        flex-flow: column nowrap;
        padding-right: 3rem;
        margin-right: 2rem;
    }
}
@media all and (max-width:350px) {
    .text-pad {
        padding-bottom: 3rem;
    }
    .foods {
        padding-top: 16rem;
    }
    .foods img {
        margin: 0;
    }
    .col-1-2 {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }
}
